---
import { Image } from 'astro:assets';
import MenuCard from './MenuCard.astro';
import separatorSvg from '../../images/separator.svg';
---

<div id="menu" class="flex flex-col items-center my-20">
    <div class="flex flex-col items-center justify-center h-max my-10 text-center">
        <p class="text-xl font-bold tracking-widest mb-4">OUR MENU</p>
        <Image src={separatorSvg} class="w-28 mb-6" alt="separator"/>
        <h2 class="text-5xl text-white mx-2">Every Flavor Tells a Story</h2>
    </div>
    <div class="flex flex-col lg:flex-row gap-12 mx-56 w-full lg:w-auto">
        <div class="flex flex-col items-center justify-center gap-12">
            <MenuCard title="TZATZIKI" text="Joghurt mit Gurke und Knoblauch" price="4,50 €"/>
            <MenuCard title="PIPERIA FLORINIS" text="Rote Paprika gefüllt mit Feta-Käse aus dem Ofen mit Knoblauchsauce" price="7,20 €"/>
            <MenuCard title="GYROS SALAT" text="Icebergsalat, Tomaten , Gurken , Peperoni , Oliven und Zwiebeln" price="10,20 €"/>
        </div>
        <div class="flex flex-col gap-12">
            <MenuCard title="GYROS SPEZIAL" text="in Metaxasauce mit Käse und Brat Kartoffeln " price="15,60 €"/>
            <MenuCard title="SOUZUKIA" text="Hackfleisch nach Art des Hauses, dazu Tzatziki, Pommes frites, Zwiebeln, frische Salat" price="14.90 €"/>
            <MenuCard title="DORADA" text="Doraden mit Taramasauce und Knoblauchsauce dazu Butterreis oder Pommes frites" price="17,50 €"/>
        </div>
    </div>

    <slot />

    <a href="/Taverna Menu.pdf" class="btn btn-primary btn-wide mt-20 text-lg">
        View Full Menu
    </a>

</div>