<div id="hamburger-menu" class="dropdown">
    <label id="hamburger-button" tabindex="0" class="btn btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
    </label>
    <ul class="dropdown-content menu menu-sm  mt-3 z-[1] p-2 shadow bg-black border border-base-content rounded-box w-52">
        <slot />
    </ul>
</div>