---
import { Image } from "astro:assets";
const { titleCard, imageCard } = Astro.props;
---
<div class="card w-96 bg-transparent shadow-xl mb-10 my-10">
    <slot />
    <figure class="px-10 pt-10 mb-20">
        <Image src={imageCard} alt="" class="absolute rounded-xl h-80 hover:brightness-125 hover:animate-jump"/>
    </figure>
    <div class="card-body items-center text-center">
        <h2 class="card-title relative mt-20 text-4xl font-thin tracking-wide text-primary">{titleCard}</h2>
        <div class="card-actions">
            <a href="/menu" class="btn btn-outline btn-primary text-xl px-10">View Menu</a>
        </div>
    </div>
</div>